.body {
    font-family: "Instrument Sans";
}

.recruitment-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding-top: 2rem;
    background: #FFF;
    font-family: "Instrument Sans";
    left: 0;
}

.section {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    width: 100%;
}

.left-section {
    display: flex;
    flex-direction: column;
    margin: 6%;
}

.left-section h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: "Instrument Sans";
}

.left-section p {
    font-size: 1rem;
    color: #7f8c8d;
    font-family: "Instrument Sans";
}

.candidate-cards {
    display: flex;
    gap: 1rem;
    margin-right: 4rem;
    margin-top: 1rem;
    background: #fff;
    border-radius: 25px;
    border: 1px solid #8787871A;
    justify-content: space-around;
    gap: 12%;
}

.candidate-card {
    background: #fff;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 4rem 1rem 3rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    width: 232px;
    height: 288px;
    z-index: 1;
    font-family: "Instrument Sans";
}

.verified-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
}

.candidate-card.highlighted {
    position: absolute;
    width: 276px;
    height: 288px;
    right: 17%;
    z-index: 3;
    font-family: "Instrument Sans";
    margin-bottom: 2rem !important;
}

.candidate-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.skills span {
    display: inline-block;
    background: #E6E8EC4F;
    color: #34495e;
    padding: 0.5rem 0.9rem;
    border-radius: 25px;
    font-size: 0.8rem;
    margin: 0.2rem;
    font-family: "Instrument Sans";
    cursor: pointer;
}


.bg-cards {
    position: absolute;
    z-index: 0;
    height: 237px;
    width: 237px;
    right: 8.2%;
}

.bg-cards img {
    width: 237px;
    height: 237px;

}

.second-section {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-around;
    width: 100%;
}

/* For testing */
/* Container styling */
.list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2rem;
    margin-left: 3.8rem;
    background: #FFF;
    border-radius: 25px;
    border: 1px solid #848EA033;
    z-index: 0;
}

/* Individual list item styling */
.list-item {
    display: flex;
    align-items: center;
    width: 450px;
    padding: 8px;
    background: white;
    border-radius: 10px;
    border: 1px solid #848EA033;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.list-item1 {
    display: flex;
    align-items: center;
    width: 380px;
    margin-left: 20px;
    padding: 8px;
    background: white;
    border-radius: 10px;
    border: 1px solid #848EA033;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.list-item2 {
    display: flex;
    align-items: center;
    width: 360px;
    margin-left: 35px;
    padding: 8px;
    background: white;
    border-radius: 10px;
    border: 1px solid #848EA033;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Icon styling */
.icon {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 12px;
}

.icon.green {
    border: 1px solid #848EA033;
}

.icon.orange {
    border: 1px solid #848EA033;
}



.icon.blue {
    border: 1px solid #848EA033;
}

.icon.green img {
    padding: 5px;
    color: #DF9423 !important;
}

.icon.orange img {
    padding: 5px;
    color: #DF9423 !important;
}

.icon.blue img {
    padding: 5px;
    color: #DF9423 !important;
}

/* Content styling */
.content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

.line {
    height: 8px;
    background: #e0e0e0;
    border-radius: 4px;
}

.line.short {
    width: 40%;
}

.line.long {
    width: 70%;
}


.bg-box2 {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    height: 237px;
    width: 237px;
    left: 11%;
}

.bg-box2 img {
    width: 237px;
    height: 237px;

}

.left-text {
    margin: 2%;
}

.left-text h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    font-weight: 600;
    font-size: 2.5rem;
    font-family: "Instrument Sans";
}

.left-text p {
    font-size: 1rem;
    color: #7f8c8d;
    font-family: "Instrument Sans";
}


.assessment-container {
    width: 100%;
}

/* Online Assessment Section */
.online-assessment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #ffffff;
    border-radius: 20px;
}

.online-assessment-left {
    display: flex;
    flex-direction: column;
    left: 2%;

}

.checklist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5rem;
    border-radius: 20px;
    border: 1px solid #E6E8EC;

}

.checklist-status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    width: 503px;
    margin: 2rem;
    background-color: #FFF;
    border: 1px solid #E6E8EC;
    z-index: 2;
}

.check-input {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    border: 1px solid #848EA0;
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* Styling for checked input */
.check-input.checked {
    background-color: #d4edda;
    border-color: #155724;
}

/* Optional hover effect */
.check-input:hover {
    border-color: #999;
}

/* Optional: Add a checkmark when checked */
.check-input.checked::after {
    content: "✅";
    font-size: 35px;
    padding: 0;
    width: 25px;
}

.check-item {
    display: flex;
    font-size: 1rem;
    background: #fff;
    width: 300px;
    align-self: center;
    color: #0B1928;
    border-radius: 10px;
    border: 1px solid #848EA0;
    padding: 5px;

}


.check-item span {
    margin-left: 8px;
    color: #333;
}

/* Change background and text color when checked */
.check-input:checked+span {
    color: #155724;
    /* Green text for checked */
    font-weight: bold;
}

.check-input:checked~.check-item {
    background-color: #d4edda;
    /* Light green background for checked */
    border-color: #c3e6cb;
    /* Green border for checked */
}


.check-item.completed {
    background: #fff;
    color: #848EA0;
    text-decoration: line-through;
    padding: 5px;
    width: 300px;
}

/* AI Video Interviews Section */
.ai-video-interviews {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.ai-interviews-left {
    border-radius: 20px;
    border: 1px solid #848EA033;
    margin-left: 3.8rem;
}


.image-container {
    margin: 3rem 4rem 3rem 3rem;
    position: relative;
    z-index: 1;
}

.interview-image {
    width: 420px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.score-circle {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    top: 16%;
    left: 17rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ai-interviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}

/* Main Container */
.shortlist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3.6rem;
    margin-left: 3.5rem;
    padding-bottom: 2rem;

}

/* Right Section - Cards */
.shortlist-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 537px;
    height: 424px;
    height: auto;
    padding: 2rem;
    margin-right: 0.5rem;
    border-radius: 20px;
    border: 1px solid #E6E8EC;
}

.shortlist-card {
    display: flex;
    align-items: center;
    background: #ffffff;
    box-shadow: 0 4px 20px #0000001A;
    border-radius: 12px;
    border: 1px solid #848EA033;
    padding: 10px 25px;
    gap: 16px;
    width: 396px;
    position: relative;
    transform: rotate(-1.43deg);
}

.candidate-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.candidate-detail {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.candidate-details {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.candidate-name {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
    display: block;
}

.candidate-rank {
    font-size: 0.9rem;
    color: #888888;
    text-decoration: line-through;

}

.candidate-score {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 4px solid #4caf50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #848EA0;
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: line-through;
}

@media (max-width: 1250px) {

    .checklist-status {
        width: 427px;
    }

    .shortlist-container {
        margin-right: 2rem;
    }


    .candidate-card.highlighted {
        width: 230px;
        height: 230px;
        right: 18%;
    }

    .candidate-card {
        width: 230px;
        height: 230px;
    }

    .skills span {
        padding: 0.2rem 0.4rem !important;
        font-size: 12px;
    }

    .candidate-card h3 {
        font-size: 12px;
    }

    .candidate-card p {
        font-size: 12px;
    }

    .left-section h2 {
        font-size: 1.5rem;
    }

    .left-section p {
        font-size: 1rem;
    }

    .shortlist-cards {
        margin-right: 2rem;
        width: 460px;
    }
}


@media (max-width: 1050px) {
    .candidate-cards {
        width: 350px;
        height: 50%;

    }

    .filter {
        width: 350px;
        height: 50%;
    }

    .candidate-card.highlighted {
        width: 190px;
        height: 190px;
        right: 13%;
    }

    .candidate-card {
        width: 190px;
        height: 190px;
    }

    .skills span {
        padding: 0.2rem 0.4rem !important;
        font-size: 8px;
    }

    .candidate-card h3 {
        font-size: 10px;
    }

    .candidate-card p {
        font-size: 10px;
    }

    .left-section h2 {
        font-size: 1.5rem;
    }

    .bg-cards {
        right: 10%;
    }

    .second-section {
        justify-content: space-around;
    }

    .list-container {
        padding: 1rem;
        margin-left: 4rem;
    }

    .icon.green {
        width: 50px;
        height: auto;
    }

    .icon.icon.orange {
        width: 50px;
        height: auto;
    }

    .icon.blue {
        width: 50px;
        height: auto;
    }

    .left-text h2 {
        font-size: 1.5rem;

    }

    .left-text p {
        font-size: 1rem;
    }

    .left-text {
        margin: 5%;
    }

    .bg-box2 {
        left: 7%;
    }

    .checklist {
        width: 350px;
        height: 80% !important;
        justify-content: center;
        margin-right: 5%;
    }

    .checklist-status {
        width: 276px;
        height: auto !important;
        padding: 2%;
    }




    .interview-image {
        width: 350px;
    }

    .score-circle {
        width: 180px;
        height: 180px;
        right: 5%;
    }

    .shortlist-card {
        display: flex;
        align-items: center;
        background: #ffffff;
        box-shadow: 0 4px 20px #0000001A;
        border-radius: 12px;
        border: 1px solid #848EA033;
        padding: 16px 40px;
        gap: 16px;
        position: relative;
        transform: rotate(-1.43deg);
    }

    .candidate-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .candidate-details {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .candidate-name {
        font-size: 0.6rem;
        color: #333333;
        font-weight: bold;
        display: block;
    }

    .candidate-rank {
        font-size: 0.6rem;
        color: #888888;
        text-decoration: line-through;

    }

    .candidate-score {
        width: 35px;
        height: 35px;
        font-size: 0.6rem;

    }

    .check-item.completed {
        font-size: 10px;
        width: 228px;
        padding: 1px;
    }

    .check-item {
        font-size: 10px;
        width: 228px;
        padding: 1px;
    }


    .check-input.checked::after {
        font-size: 35px;
    }

    .shortlist-cards {
        width: 450px;
        padding: 1rem;
    }
}


@media (max-width: 854px) {
    .candidate-cards {
        width: 350px;
        height: 50%;

    }

    .filter {
        width: 300px;
        margin: 3%;
    }

    .candidate-card.highlighted {
        width: 190px;
        height: 190px;
        right: 16%;
    }

    .candidate-card {
        width: 190px;
        height: 190px;
    }

    .skills span {
        padding: 0.2rem 0.4rem !important;
        font-size: 8px;
    }

    .candidate-card h3 {
        font-size: 10px;
    }

    .candidate-card p {
        font-size: 10px;
    }

    .left-section h2 {
        font-size: 1.5rem;
    }

    .bg-cards {
        right: 10.2%;
    }

    .icon.green {
        width: 50px;
        height: auto;
        padding-top: 2px;
    }

    .icon.orange {
        width: 50px;
        height: auto;
    }

    .icon.blue {
        width: 50px;
        height: auto;
    }

    .icon {
        width: 30px;
    }

    .list-item {
        width: 280px;
        height: auto;
        padding: 0;
    }

    .list-item1 {
        width: 250px;
        height: auto;
        padding: 5px;
    }

    .list-item2 {
        width: 220px;
        height: auto;
        padding: 5px;
    }

    .left-text h2 {
        font-size: 1.5rem;

    }

    .left-text p {
        font-size: 1rem;
    }

    .left-text {
        margin: 5%;
    }

    .bg-box2 {
        left: 8%;
    }

    .checklist {
        width: 350px;
        height: 80% !important;
        justify-content: center;
        margin-right: 5%;
    }

    .checklist-status {
        width: 250px;
        height: auto !important;
        padding: 2%;
    }

    .check-item {
        width: 200px;
        font-size: 10px;
    }

    .check-item.completed {
        font-size: 10px;
    }

    .interview-image {
        width: 300px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }


    .shortlist-cards {
        width: 350px;
        padding: 1rem;
        margin-right: 1rem;
    }

    .shortlist-card {
        width: 300px;
    }

    .score-circle {
        width: 150px;
        height: 150px;
        left: 13rem;
    }

    .score-circle span {
        font-size: 10px;
    }

    .check-item.completed {
        font-size: 10px;
        width: 228px;
        padding: 1px;
    }

    .check-item {
        font-size: 10px;
        width: 228px;
        padding: 1px;
    }

    .check-input.checked::after {
        font-size: 35px;
    }
}

@media (max-width: 800px) {


    .checklist {
        width: 350px;
        height: 80% !important;
        justify-content: center;
        margin-right: 5%;
    }

    .checklist-status {
        width: 240px;
        height: auto !important;
        padding: 2%;
    }

    .check-item {
        width: 200px;
        font-size: 10px;
    }

    .check-item.completed {
        font-size: 10px;
    }

    .icon {
        width: 30px;
    }

    .list-item {
        width: 250px;
        padding: 0;
    }

    .list-item1 {
        width: 220px;
        padding: 5px;
    }

    .list-item2 {
        width: 200px;
        padding: 5px;
    }

    .left-text h2 {
        font-size: 1.5rem;

    }

    .left-text p {
        font-size: 1rem;
    }

    .left-text {
        margin: 5%;
    }


    .bg-box2 {
        left: 8%;
    }

    .checklist {
        width: 350px;
        height: auto !important;
        justify-content: center;
        margin-right: 8%;
    }

    .checklist-status {
        width: 300px;
        height: auto !important;
        padding: 2px;
    }

    .check-item.completed {
        width: 230px;
        font-size: 10px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 35px;
    }

    .check-item {
        padding: 1px;
        width: 230px;
    }


    .shortlist-cards {
        width: 350px;
        padding: 1rem;
        margin-right: 1rem;
    }

    .shortlist-card {
        width: 300px;
    }

}

@media (max-width: 768px) {

    .candidate-card.highlighted {
        width: 190px;
        height: 190px;
        right: 18%;
    }

    .bg-cards {
        right: 13%;
    }

    .bg-box2 {
        left: 6%;
    }

    .left-section h3 {
        font-size: 1rem;
    }

    .left-section p {
        font-size: 10px;
    }

    .icon {
        width: 30px;
    }

    .list-item {
        width: 230px;
        padding: 0;
    }

    .list-item1 {
        width: 200px;
        padding: 5px;
    }

    .list-item2 {
        width: 180px;
        padding: 5px;
    }

    .left-text h2 {
        font-size: 1.5rem;

    }

    .left-text p {
        font-size: 1rem;
    }

    .left-text {
        margin: 5%;
    }

    .bg-box2 {
        left: 9%;
    }

    .left-text h2 {
        font-size: 1.5rem;

    }

    .left-text p {
        font-size: 10px;
    }

    .left-text {
        margin: 5%;
    }

    .image-main {
        width: 350px;
    }

    .checklist {
        width: 350px;
        height: 80% !important;
        justify-content: center;
        margin-right: 8%;
    }

    .checklist-status {
        width: 230px;
        height: auto !important;
        padding: 2%;
    }

    .check-item {
        width: 200px;
        font-size: 10px;
    }

    .check-item.completed {
        font-size: 10px;
    }


    .interview-image {
        width: 300px;
        height: auto;

    }

    .score-circle {
        left: 9rem;
    }

    .score-circle span {
        font-size: 10px;
    }

    .interview-image {
        width: 250px;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .shortlist-cards {
        padding: 1rem;
        width: 300px;
    }

    .shortlist-card {
        padding: 10px 20px;
        width: 250px;
    }

    .checklist {
        width: 350px;
        height: auto !important;
        justify-content: center;
        margin-right: 8%;
    }

    .checklist-status {
        width: 300px;
        height: auto !important;
        padding: 2px;
    }

    .check-item.completed {
        font-size: 10px;
        width: 250px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 35px;
    }

    .check-item {
        padding: 1px;
        width: 250px;
    }
}

@media (max-width: 600px) {
    .ai-interviews-left {
        border-radius: 10px;
        border: 1px solid #848EA033;
        margin-left: 1rem;
        width: 300px;
    }

    .score-circle {
        width: 120px;
        height: 120px;
        right: 23%;
    }

    .icon.green {
        width: 40px;
        height: auto;
        margin: 5px;
    }

    .icon.orange {
        width: 40px;
        height: auto;
    }

    .icon.blue {
        width: 40px;
        height: auto;
    }

    .icon.orange img {
        width: 30px;
    }

    .candidate-cards p {
        font-size: 0.4rem;
    }

    .candidate-card.highlighted {
        right: 15%;
    }

    .bg-cards {
        right: 13%;
    }

    .bg-box2 {
        left: 3%;
    }


    .left-section h3 {
        font-size: 1.5rem;
    }

    .left-section p {
        font-size: 0.5rem;
    }

    .checklist {
        width: 350px;
        height: auto !important;
        justify-content: center;
        margin-right: 8%;
    }

    .checklist-status {
        width: 300px;
        height: auto !important;
        padding: 2px;
    }

    .check-item.completed {
        width: 230px;
        font-size: 10px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 35px;
    }

    .check-item {
        padding: 1px;
        width: 230px;
    }

    .bg-box2 {
        left: 3%;
    }

    .list-container {
        padding: 1rem;
        margin-left: 1rem;
    }


}

@media (max-width: 555px) {
    .ai-interviews-left {
        border-radius: 10px;
        border: 1px solid #848EA033;
        margin-left: 1rem;
        width: 300px;
    }

    .score-circle {
        width: 120px;
        height: 120px;
        right: 23%;
    }

    .bg-box2 {
        left: 3%;
    }

    .candidate-cards p {
        font-size: 0.4rem;
    }

    .candidate-card.highlighted {
        right: 15%;
        width: 150px;
    }

    .bg-cards {
        right: 13%;
    }

    .icon.green {
        width: 40px;
        height: auto;
        margin: 5px;
    }

    .icon.orange {
        width: 40px;
        height: auto;
    }

    .icon.blue {
        width: 40px;
        height: auto;
    }

    .icon.orange img {
        width: 30px;
    }

    .bg-box2 {
        left: 3%;
    }

    .list-container {
        padding: 1rem;
        margin-left: 1rem;
    }


    .left-section h3 {
        font-size: 1.5rem;
    }

    .left-section p {
        font-size: 0.5rem;
    }

    .checklist {
        width: 320px;
        height: auto !important;
        justify-content: center;
        margin-right: 2rem;
    }

    .checklist-status {
        width: 250px;
        height: auto !important;
        padding: 2px;
    }

    .check-item.completed {
        width: 230px;
        font-size: 8px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 14px;
    }

    .check-item {
        padding: 1px;
        width: 230px;
        font-size: 8px;
    }

    .check-input {
        width: 20px;
        height: 20px;
    }

    .shortlist-container {
        margin: 0;
    }

    .shortlist-cards {
        width: 300px;
    }

    .shortlist-card {
        width: 200px;
    }

    .bg-cards {
        width: 150px;

    }

}

@media (max-width: 480px) {
    .recruitment-component {
        width: 100% !important;
    }

    .candidate-cards {
        width: 300px;
        padding: 0;
        margin-right: 5%;
    }

    .candidate-cards p {
        font-size: 0.3rem;
    }

    .candidate-card.highlighted {
        right: 16%;
        width: 150px !important;
    }

    .candidate-card {
        width: 150px;
    }

    .skills span {
        padding: 0.2rem 0.2rem !important;
        font-size: 5px;
    }

    .bg-cards {
        right: 5%;
    }

    .bg-box2 {
        left: 3.1%;
    }

    .icon.green {
        width: 30px;
        height: auto;
        margin: 5px;
    }

    .icon.orange {
        width: 30px;
        height: auto;
    }

    .icon.blue {
        width: 30px;
        height: auto;
    }

    .icon.orange img {
        width: 25px;
    }

    .ai-interviews-left {
        border-radius: 10px;
        border: 1px solid #848EA033;
        margin-left: 1rem;
        width: 300px;
    }

    .score-circle {
        width: 120px;
        height: 120px;
        right: 25%;
    }


    .left-section h2 {
        font-size: 1rem !important;
    }

    .left-section p {
        font-size: 0.5rem;
    }

    .left-text h2 {
        font-size: 1rem;
    }

    .check-item.completed {
        width: 150px;
        font-size: 10px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 17px;
    }

    .check-item {
        padding: 1px;
        width: 150px;
    }

    .checklist {
        width: 300px;
        height: auto !important;
        justify-content: center;
        margin-right: 5%;
    }

    .checklist-status {
        width: 250px;
        height: auto !important;
        padding: 2px;
    }

    .check-item.completed {
        width: 230px;
        font-size: 8px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 14px;
    }

    .check-item {
        padding: 1px;
        width: 230px;
        font-size: 8px;
    }

    .check-input {
        width: 20px;
        height: 20px;
    }

    .candidate-image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }

    .shortlist-cards {
        width: 260px;
    }

    .shortlist-card {
        width: 180px;
    }
}

@media (max-width: 450px) {

    .candidate-cards {
        width: 250px;
        padding: 0;
        margin-right: 5%;
    }

    .candidate-cards p {
        font-size: 0.3rem;
    }

    .candidate-card.highlighted {
        right: 13%;
        width: 150px !important;
    }

    .candidate-card {
        width: 150px;
    }

    .candidate-card img {
        width: 25px;
        height: 25px;
    }

    .skills span {
        padding: 0.2rem 0.2rem !important;
        font-size: 5px;
    }

    .bg-cards {
        right: 5%;
    }

    .bg-box2 {
        width: 150px;
        height: 150px;
        left: 4%;
    }

    .list-container {
        padding: 0.5rem;
        margin-left: 1rem;
    }

    .list-item {
        width: 200px;
        height: 50px;
        padding: 0;

    }

    .list-item1 {
        width: 170px;
        height: 50px;
        padding: 0;

    }

    .list-item2 {
        width: 150px;
        height: 50px;

    }

    .icon.icon.orange {
        width: 30px;
        height: auto;
        margin: 5px;
    }

    .icon.green {
        width: 30px;
        height: auto;
        margin: 5px;
    }

    .icon.blue {
        width: 30px;
        height: auto;
        margin: 5px;
    }

    .icon.orange img {
        width: 25px;
    }

    .ai-interviews-left {
        border-radius: 10px;
        border: 1px solid #848EA033;
        margin-left: 1rem;
        width: 250px;
        height: 200px !important;
    }

    .score-circle {
        width: 110px;
        height: 110px;
        right: 40% !important;
    }

    .image-container {
        margin: 1rem 1rem 1rem 1rem;
    }

    .interview-image {
        width: 200px;
        height: auto;
        margin: 0;
        margin-right: 33%;
    }


    .left-section h2 {
        font-size: 0.8rem !important;
    }

    .left-section p {
        font-size: 0.5rem;
    }

    .left-text h2 {
        font-size: 1rem;
    }

    .left-text p {
        font-size: 8px;
    }

    .check-item.completed {
        width: 150px;
        font-size: 10px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 17px;
    }

    .check-item {
        padding: 1px;
        width: 150px;
    }

    .checklist {
        width: 220px;
        height: auto !important;
        justify-content: center;
        margin-right: 5%;
    }

    .checklist-status {
        width: 250px;
        height: auto !important;
        padding: 2px;
    }

    .check-item.completed {
        width: 200px;
        font-size: 8px;
        padding: 1px;

    }

    .check-input.checked::after {
        font-size: 14px;
    }

    .check-item {
        padding: 1px;
        width: 200px;
        font-size: 8px;
    }

    .check-input {
        width: 20px;
        height: 20px;
    }

    .shortlist-container {
        padding: 1rem;
    }

    .shortlist-cards {
        padding: 0. 5rem;
        width: 237px;
        margin-right: -1rem;
    }

    .shortlist-card {
        width: 160px;
    }

    .candidate-score {
        width: 25px;
        height: 25px;
        font-size: 0.4rem;
    }
}