body {
    font-family: "Instrument Sans";
}

.faq-main {
    top: 0;
    width: 100%;
    background: linear-gradient(to top, #1F67E700, #1F67E71A);
    flex: 1;
    display: flex;
    justify-content: center;

}

.faq-container {
    font-family: "Instrument Sans";
    padding-top: 5%;
    padding-bottom: 10%;
    max-width: 800px;
    align-items: center;
}


h1 {
    left: 0;
    margin-bottom: 20px;
    color: #333;
    font-family: "Instrument Sans";
}

.faq-item {
    border-bottom: 1px solid #ddd;
    font-family: "Instrument Sans";
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Instrument Sans";
}

.faq-question.active {
    background-color: #FFF;
    color: #333;
}

.faq-answer {
    max-height: 0;
    background-color: #fff;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 10px;
    color: #555;
}

.faq-answer.show {
    max-height: 200px;
    /* Adjust as needed */
    font-family: "Instrument Sans";
}

.faq-image {
    max-width: 100%;
    position: absolute;
    transform: rotate(180deg);
    height: 537px;
    z-index: -1;
}

.FAQ-Button {
    background-color: transparent;
    color: #004CD3;
    border: 1px solid #848EA033;
    margin-left: 43%;
    margin-bottom: 10px;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Instrument Sans";
}

@media (max-width: 768px) {
    .faq-container {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    .faq-question {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .faq-question {
        font-size: 14px;
    }
}