.body {
    font-family: "Instrument Sans";
}

header {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-direction: row;
    /* Ensure row direction is maintained */
    margin: 2rem auto 1rem auto;
    /* Center the header using auto margins */
    padding: 10px 30px;
    border: 2px solid #fff;
    background-color: #ffffff80;
    width: 70%;
    border-radius: 50px;
    font-family: "Instrument Sans";
    justify-content: space-between;
}

.logo {
    max-width: 120px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: "Instrument Sans";
}

.home {
    background-image: linear-gradient(to right, #1F67E7, #1AD7BE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-button {
    background: linear-gradient(to right, #00d4ff, #007bff);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Instrument Sans";
}

@media (max-width: 1220px) {
    .header {
        width: 83% !important;
        padding: 10px 20px !important;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 14px;
    }
}


/* Responsive Queries */
@media (max-width: 1024px) {
    .header {
        width: 80% !important;
        padding: 10px 20px !important;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        padding: 15px 20px;
        max-width: 80% !important;
    }

    .logo {
        max-width: 100px;
    }

    .nav-links {
        flex-direction: row;
        gap: 10px;
    }

    .nav-links a {
        font-size: 12px;
    }

    .contact-button {
        flex-direction: row;
        align-items: center;
        padding: 6px 9px;
        font-size: 12px;
    }
}

@media (max-width: 686px) {
    .header {
        padding: 10px 15px;
        width: 90% !important;
    }

    .logo {
        max-width: 40px;
    }

    .nav-links a {
        font-size: 8px;
    }

    .contact-button {
        padding: 4px 6px;
        font-size: 8px;
    }
}

@media (max-width: 480px) {
    .header {
        width: 95% !important;
    }

    .logo {
        max-width: 40px;
    }

    .nav-links a {
        font-size: 8px;
    }

    .contact-button {
        padding: 4px 6px;
        font-size: 8px;
    }
}

@media (max-width: 440px) {
    .header {
        width: 95% !important;
    }

    .logo {
        max-width: 40px;
    }

    .nav-links a {
        font-size: 8px;
    }

    .contact-button {
        padding: 4px 6px;
        font-size: 8px;
    }
}

@media (max-width: 415px) {
    .header {
        width: 95% !important;
    }

    .logo {
        max-width: 30px;
    }

    .nav-links a {
        font-size: 6px;
    }

    .contact-button {
        padding: 4px 6px;
        font-size: 8px;
    }
}